<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="utf-8">
   
  <title>Home Page</title>
 
</head>
<body>
 	<section class="banner d-flex justify-content-center align-items-center ">
 	
 	<div class="text-center">
 	<h1 class="font-weight-bold">This is my home page</h1>
 	<p>This is my first project for front end. Enjoying doing the code with durgesh tiwari. 
 	Will continue this to the end. Thank You</p>
 	
 	<button class="btn bg-primary btn-lg text-white">Get Started</button>
 	
 	</div>
 	
 	
 	
 	</section>
</body>
</html>